$main_font: "Proxima Nova";
$main_fix_font: Arial, sans-serif;
$main_font_size: 15px;
$main_line_height: 1.5;

$second_font: "Lora";
$second_fix_font: serif;
$second_font_size: 15px;
$second_line_height: 1.5;

/*Animations*/

$main_animation: all .3s ease-in-out;

$white: #FFFFFF;
$grapefruit: #F94F4C;
$grapefruit-d: #D44141;
$aqua: #00B9C4;
$aqua-d: #00929A;
$sun: #FFC830;
$sun-d: #EEB20B;
$darkgray: #2B292D;
$darkrgray-d: #5B5664;
$lightgray: #F7F7F9;
$lightgray-d: #EBECF0;